=link_to t('.request_new_shop'), action: "select_shop"
%h3=t('.title')
%h4=@shop.title
=select_tag :day_of_week, options_for_select(@day_names)
#edit_day
  = render :partial => 'menus'

:javascript
  $('#day_of_week').change(function(){
    $('#edit_day').html('#{image_tag "loading.gif"}');
    $.ajax({
      url: '/admin/index',
      type: 'GET',
      data: { "id" : #{@shop.id}, "day" : $('#day_of_week').val() },
      dataType: 'script',
      error: function() {
        $('#edit_day').html("Error"); // TODO catch
      }
    })
  });

