-#encoding: utf-8
%h3=t('.title')
#menus-tienda
  .links
    %h4=@shop.title
    =select_tag :day_of_week, options_for_select(@day_names, @day_names[Time.now.wday-1])
  #edit_day
    = render :partial => 'menus'
  .links
    =button_to t('.new_menu'), "/menus/new/#{@shop.id}", method: 'get'

-# Función para cambiar de día
:javascript
  $('#day_of_week').change(function(){
    $('#edit_day').html('#{image_tag "loading.gif"}');
    $.ajax({
      url: '/admin/index',
      type: 'GET',
      data: { "shop" : #{@shop.id}, "day" : $('#day_of_week').val() },
      dataType: 'script',
      error: function() {
        $('#edit_day').html("Error"); // TODO catch
      }
    })
  });

