form .courses .labels, form .menukinds .labels {
  display: none;
  text-decoration: line-through;
}

#menu-form {
  display: inline;
  width: 350px;
}

#menu-form ul {
  list-style: none;
}

#menu-form span {
  font-weight: bold;
}
.input-price {
  width: 60px;
}

#add-course {
  margin-bottom: 10px;
}

#courses, #menukinds {
  margin-bottom: 2px;
}
