/* peque */
#logo {
  top: 25px;
  display: block;
}

#header {
  height: 180px;
}
#links-admin {
  top: 135px;
}
.container {
  padding-right: 0;
  padding-left: 0;
}

/* devise */
#session-form { max-width: 240px; }
#session-form label {
  text-align: left;
  width: 63%;
}
#registration-form { max-width: 240px; }
#registration-form label {
  width: 135px;
  text-align: left;
}

input[type="submit"] {
  white-space: normal;
}

figure.coffe-shop {
  margin-top: 30px;
}
figure.coffe-shop > img {
  display: none;
}

#grande.row {
  display: none;
}

#acordeon {
  width: 235px;
  display: inline-block;
}

#acordeon .panel {
  border: 1px solid #ddd;
  box-shadow: 3px 3px 4px #ccc;
}

#acordeon .panel .collapse {
  margin-bottom: 15px;
}

#acordeon .panel ul {
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 0;
  list-style-type: none;
  font-size: 13px;
  line-height: 1.3em;
  text-align: left;
  padding-bottom: 5px;
}
